apiVersion: v1
kind: ConfigMap
metadata:
  name: ureplicator-envs
  namespace: ureplicator
data:
  SRC_ZK_CONNECT: __SRC_ZK_CONNECT__
  CONSUMER_GROUP_ID: ureplicator
  HELIX_CLUSTER_NAME: ureplicator
  HELIX_ENV: dev
  HELIX_ZK_CONNECT: zookeeper.ureplicator.svc.cluster.local:2181
  HELIX_ZK_ADDRESS: zookeeper.ureplicator.svc.cluster.local
  HELIX_ZK_PORT: '2181'
  DST_ZK_CONNECT: zookeeper.kafka-destination.svc.cluster.local:2181
  DST_BOOTSTRAP_SERVERS: broker.kafka-destination.svc.cluster.local:9092
  WORKER_ABORT_ON_SEND_FAILURE: 'true'
  GRAPHITE_HOST: prometheus-graphite-exporter.monitoring.svc.cluster.local
  GRAPHITE_PORT: "9109"
