apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kafka-mirror-tester-consumer
  labels:
    app: kafka-mirror-tester-consumer
spec:
  replicas: 4
  selector:
    matchLabels:
      app: kafka-mirror-tester-consumer
  template:
    metadata:
      labels:
        app: kafka-mirror-tester-consumer
    spec:
      containers:
      - name: consumer
        image: rantav/kafka-mirror-tester:latest
        imagePullPolicy: Always
        args:
        - consume
        - --bootstrap-servers
        - broker.kafka-destination.svc.cluster.local:9092
        - --consumer-group
        - group-1
        - --topics
        - topic1
        - --retention
        - "60000"
        - --num-partitions
        - "16"
        - --num-replicas
        - "2"
        ports:
        - name: metrics
          containerPort: 8000
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - kafka-mirror-tester-consumer
            topologyKey: "kubernetes.io/hostname"
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - kafka-destination
            namespaces:
            - kafka-destination
            topologyKey: "kubernetes.io/hostname"
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - ureplicator
              - key: component
                operator: In
                values:
                - worker
            namespaces:
            - ureplicator
            topologyKey: "kubernetes.io/hostname"
---
# Headless service just for the sake of exposing the metrics
apiVersion: v1
kind: Service
metadata:
  name: kafka-mirror-tester-consumer
  labels:
    app: kafka-mirror-tester-consumer
spec:
  ports:
  - name: metrics
    port: 8000
  clusterIP: None
  selector:
    app: kafka-mirror-tester-consumer
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: kafka-mirror-tester-consumer
  name: kafka-mirror-tester-consumer
  namespace: monitoring
spec:
  endpoints:
  - port: metrics
  jobLabel: k8s-app
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      app: kafka-mirror-tester-consumer