apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kafka-mirror-tester-producer
  labels:
    app: kafka-mirror-tester-producer
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kafka-mirror-tester-producer
  template:
    metadata:
      labels:
        app: kafka-mirror-tester-producer
    spec:
      containers:
      - name: producer
        image: rantav/kafka-mirror-tester:latest
        imagePullPolicy: Always
        env:
        - name: ID
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        args:
        - produce
        - --bootstrap-servers
        - broker.kafka-source.svc.cluster.local:9092
        - --id
        - $(ID)
        - --message-size
        - "1000"
        - --throughput
        - "28000"
        - --topics
        - topic1
        - --retention
        - "60000"
        - --num-partitions
        - "8"
        - --num-replicas
        - "2"
        ports:
        - name: metrics
          containerPort: 8001
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - kafka-mirror-tester-producer
            topologyKey: "kubernetes.io/hostname"
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - kafka-source
            namespaces:
            - kafka-source
            topologyKey: "kubernetes.io/hostname"
---
# Headless service just for the sake of exposing the metrics
apiVersion: v1
kind: Service
metadata:
  name: kafka-mirror-tester-producer
  labels:
    app: kafka-mirror-tester-producer
spec:
  ports:
  - name: metrics
    port: 8001
  clusterIP: None
  selector:
    app: kafka-mirror-tester-producer
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: kafka-mirror-tester-producer
  name: kafka-mirror-tester-producer
  namespace: monitoring
spec:
  endpoints:
  - port: metrics
  jobLabel: k8s-app
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      app: kafka-mirror-tester-producer